body {
    font-family: Arial, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: black;

}

.container {
    /* text-align: center; */
    padding: 0px 30px;
    color: aliceblue;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

#counter {
    display: block;
    padding: 10px;
    margin: 10px 0;
    font-size: 24px;
    /* border: 1px solid #000; */
    text-decoration: underline;
    border: 1px solid blue;
}


.error {
    color: red;
    visibility: hidden;
    margin: 10px 0;
    border: 1px solid red;
}

.buttons {
    border: 1px solid wheat;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}